<div>
    <h1>Contact Us</h1>
    <p>
      Thank you for using our grocery booking and recipe showing application! If you have any questions,
      feedback, or issues, please feel free to reach out to us through the following methods:
    </p>
  
    <ul>
      <li><span>Email</span>: <a href="mailto:info@example.com">infoexample.com</a></li>
      <li><span>Phone</span>: +1 (555) 123-4567</li>
      <li><span>Address</span>: 123 Grocery Street, Recipe City, Cookland</li>
    </ul>
 
  </div>
