<div class="container">
    <h1>Careers</h1>
  
    <div class="section">
      <h3>Join Our Team</h3>
      <p>We are always looking for talented individuals to join our team and contribute to the success of our project. If you are passionate about technology, grocery shopping, and culinary arts, we'd love to hear from you!</p>
    </div>
  
    <div class="section">
      <h3>Current Openings</h3>
      <ul>
        <li>Software Engineer</li>
        <li>UI/UX Designer</li>
        <li>Customer Support Representative</li>
        <!-- Add more openings as needed -->
      </ul>
    </div>
  
    <div class="section">
      <h3>How to Apply</h3>
      <p>If you are interested in any of the above positions, please send your resume and cover letter to <a href="mailto:careers@example.com">careersexample.com</a>.</p>
    </div>
  
    <!-- Add more content as needed -->
  
  </div>
