.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    
  }
  
  .grocery,
  .recipe {
    border: 3px solid black; 
    padding: 20px; 
    text-align: center; 
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius:8px ;
  }
  
 
  .grocery img,
  .recipe img {
    max-width: 80%; 
    height: 250px; 
    border-radius: 8px;
    margin: 0 auto 15px; 
    display: block; 
  }
  
  
  .grocery h3,
  .recipe h3,
  .grocery p,
  .recipe p {
    color: #333; 
    margin-bottom: 10px; 
  }

  .grocery a,
  .recipe a {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
  }