
<div class="container">
    <div class="grocery">
        <a routerLink="/items"> 
          <img src="https://www.deonde.co/blog/wp-content/uploads/2019/05/Online-Grocery-Ordering-Software-Work-Blog-Post.jpg" class="d-block w-100" alt="Grocery Booking Image">      
          <h3>Grocery Booking</h3>
          <p>Discover a seamless experience for booking your groceries online. Order fresh and quality products with ease.</p>
        </a>
      </div>

    <div class="recipe">
        <a routerLink="/recipe">
            <img src="https://totaste.com/wp-content/uploads/2022/02/green-salad-base-1024x683.jpeg" class="d-block w-100" alt="Recipe Showing Image">        
            <h3>Recipe Showing</h3>
            <p>Explore a wide range of delicious recipes and cooking inspirations. Find new ideas for your next culinary adventure.</p>
        </a>
    </div> 
</div>
