<div class="container">
    <h1>Cancellation and Return</h1>
  
    <div class="section">
      <h3>Cancellation Policy</h3>
      <p>If you need to cancel an order, please follow our cancellation policy to ensure a smooth process.</p>
      <ul>
        <li>Orders can be canceled within 24 hours of placement.</li>
        <li>Refund will be processed within 5 business days.</li>
        <!-- Add more cancellation details as needed -->
      </ul>
    </div>
  
    <div class="section">
      <h3>Return Policy</h3>
      <p>We want you to be satisfied with your purchase. Follow our return policy for any product returns.</p>
      <ul>
        <li>Products must be returned within 14 days of receipt.</li>
        <li>Return shipping costs are the responsibility of the customer.</li>
        <!-- Add more return details as needed -->
      </ul>
    </div>
  
    <div class="section">
      <h3>Contact Support</h3>
      <p>If you have questions about cancellation or return, please contact our support team:</p>
      <ul>
        <li>Email: <a href="mailto:support@example.com">supportexample.com</a></li>
        <li>Phone: +1 (555) 123-4567</li>
      </ul>
    </div>
  
    <!-- Add more sections as needed -->
  
  </div>
