footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0; /* Adjusted padding */
  }
  
  footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  footer h5 {
    color: #756868;
    font-size: 1.2rem;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 6px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Adjusted styles for side-by-side layout */
  footer .col-md-5,
  footer .col-md-1 {
    display: inline-block;
    margin-right: 300px; /* Adjust the space between columns */
  }
  