<!-- Add a wrapper around the buttons for styling -->
<div class="buttons-wrapper">
    <div class="buttons">
      <button (click)="getVegetable()">Vegetable</button>
      <button (click)="getDairy()">Dairy</button>
      <button (click)="getFruits()">Fruits</button>
      <button (click)="getGrocery()">Grocery</button>
    </div>
  </div>
  
  <div class="backgroundpic">
    <img class="d-block w-100" src="assets/images/grocery-hero.webp" alt="First slide">
  </div>
  
  <!-- ... (existing HTML) ... -->

<div style="margin-top: 5vh; margin-bottom: 5vh;" class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of items">
        <div class="card" style="width: 250px; height: 400px; margin-top: 1vh; border: 1px solid #ccc;">
          <!-- Add border style to the card -->
          <img class="card-img-top" [src]="'assets/images/' + item.prodImage" alt="Card image"
            style="width: 100%; height: 60%; object-fit: cover;">
          <div class="card-body" style="height: 40%; overflow: hidden;">
            <h4 class="card-title">{{ item.prodName }}</h4>
            <p class="card-text">{{ item.description }}</p>
            <p><b>Price:</b> ₹{{ item.prodPrice }}/-</p>
            <p align="right"><button class="btn btn-primary">Add to Cart</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  