.buttons-wrapper {
    text-align: center; /* Center the buttons */
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    background-color: #b3d4ec;
    padding: 10px;
    margin-top: 2vh;
  }
  
  .buttons button {
    color: white;
    background-color: #0f0e0e;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #777;
  }
  
  .backgroundpic {
    background-color: aqua;
    height: 70vh;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
  .backgroundpic img {
    height: 100%; /* Adjust to fill the container */
  }
  
  /* Add this CSS to ensure that the cards are displayed in rows with 3 cards per row */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  