<div class="container">
    <h1>Shipping Information</h1>
  
    <div class="section">
      <h3>Shipping Options</h3>
      <p>We provide various shipping options to meet your delivery needs. Choose the one that suits you best:</p>
      <ul>
        <li>Standard Shipping</li>
        <li>Express Shipping</li>
        <li>Same-Day Delivery</li>
    
      </ul>
    </div>
  
   
  
    <div class="section">
      <h3>Contact Support</h3>
      <p>If you have any questions regarding shipping or need assistance, feel free to reach out to our support team:</p>
      <ul>
        <li>Email: <a href="mailto:support@example.com">supportexample.com</a></li>
        <li>Phone: +1 (555) 123-4567</li>
      </ul>
    </div>
  

  
  </div>
