.maindiv{
    display: flex;
    height: 15vh;
  
    background-color: rgb(73, 69, 69);
  }
  img{
    margin-left: 2vh;
    height: 100%;
  
  
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li{
    list-style: none;
    margin-left: 15vh;
    cursor: pointer;
    background-color: aliceblue;
    padding: 1vh 5vh 1vh 5vh;
    border-radius: 5px;
  }
  .falseli{
  
    list-style: none;
    margin-left: 25vh;
    cursor: pointer;
    background-color: aliceblue;
    padding: 1vh 5vh 1vh 5vh;
    border-radius: 5px;
  
  }