<div class="maindiv">
    <div>
      <img src="https://cdni.iconscout.com/illustration/premium/thumb/grocery-delivery-4972863-4137516.png?f=webp" alt="Your Logo">
    </div>
    <ul class="links">
        <li  class="falseli"  [routerLink]="['/']" >Home</li>
        <li  class="falseli" [routerLink]="['/login']" >Login</li>
        <li  class="falseli" [routerLink]="['/items']">Items</li>
        <li  class="falseli" [routerLink]="['/recipe']" >Recipe</li>
    </ul>
  </div>
  
