<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Registration</title>
  
</head>

<body>
  <div class="container">
    <h1 class="text-center">Customer Registration</h1>

    <form #registerForm="ngForm" (ngSubmit)="registerSubmit()" novalidate>
      <div class="form-group">
        <label for="custName">Name:</label>
        <input type="text" class="form-control" placeholder="Enter Name" name="custName" [(ngModel)]="custName" required>
      </div>

      <div class="form-group">
        <label for="custPhone">Phone Number:</label>
        <input type="text" class="form-control" placeholder="Enter Phone Number" name="custPhone" [(ngModel)]="custPhone" required>
      </div>

      <div class="form-group">
        <label for="custEmail">Email:</label>
        <input type="email" class="form-control" placeholder="Enter Email" name="custEmail" [(ngModel)]="custEmail" required>
      </div>

      <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" class="form-control" placeholder="Enter Password" name="Password" [(ngModel)]="Password" required minlength="8">
        <div class="password-strength-meter">
          <div [ngClass]="['strength-' + checkPasswordStrength(Password).score]"></div>
        </div>
        <div class="password-suggestions" *ngIf="Password && checkPasswordStrength(Password).score < 3">
          {{ checkPasswordStrength(Password).feedback }}
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>

      <button [disabled]="!registerForm.valid" class="btn btn-primary btn-block">Register</button>
    </form>

    <div class="mt-3">
      <p class="text-center">Already have an account? <a routerLink="/login">Login here</a></p>
    </div>

    <div class="error-messages">
      <div *ngIf="registerForm.controls['custName']?.errors?.['required'] && registerForm.controls['custName']?.touched" class="error-message">
        Please Enter Name
      </div>

      <div *ngIf="registerForm.controls['custPhone']?.errors?.['required'] && registerForm.controls['custPhone']?.touched" class="error-message">
        Please Enter Phone Number
      </div>

      <div *ngIf="registerForm.controls['custEmail']?.errors?.['required'] && registerForm.controls['custEmail']?.touched" class="error-message">
        Please Enter Email
      </div>

      <div *ngIf="registerForm.controls['custPassword']?.errors?.['required'] && registerForm.controls['custPassword']?.touched" class="error-message">
        Please Enter Password
      </div>

      <div *ngIf="registerForm.controls['custPassword']?.errors?.['minlength'] && registerForm.controls['custPassword']?.touched" class="error-message">
        Password must be at least 8 characters long
      </div>

      <div *ngIf="registerForm.controls['confirmPassword']?.errors?.['required'] && registerForm.controls['confirmPassword']?.touched" class="error-message">
        Please Confirm Password
      </div>

      <div *ngIf="confirmPassword !== Password && registerForm.controls['confirmPassword']?.touched" class="error-message">
        Passwords do not match
      </div>
    </div>
  </div>
</body>

</html>

