


  .container {
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn-block {
    width: 100%;
    background-color: #007bff;
    color: #fff;
  }

  .password-strength-meter {
    margin-top: 10px;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
  }

  .password-strength-meter div {
    height: 100%;
    transition: width 0.3s ease-out;
  }

  .strength-1 {
    background-color: #d9534f;
  }

  .strength-2 {
    background-color: #f0ad4e;
  }

  .strength-3 {
    background-color: #5bc0de;
  }

  .password-suggestions {
    color: #d9534f;
    margin-top: 5px;
  }

  .error-messages {
    margin-top: 20px;
  }

  .error-message {
    color: #d9534f;
    font-size: 14px;
  }

  .mt-3 {
    margin-top: 20px;
  }

  .text-center {
    text-align: center;
  }


  