<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
   <div class="container">
    <h1>Customer Login</h1>
  
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit()" novalidate>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" placeholder="Enter Email" name="emailId" [(ngModel)]="emailId" required>
        </div>
        <div *ngIf="loginForm.submitted && !emailId" class="error-message">
          Please Enter a Valid Email
        </div>
      </div>
  
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
        </div>
        <div *ngIf="loginForm.submitted && !password" class="error-message">
          Please Enter Password
        </div>
      </div>
  
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="captchaInput" [(ngModel)]="captchaInput" required placeholder="Enter Captcha" class="form-control">
          <span class="input-group-addon">{{ captcha }}</span>
        </div>
        <div *ngIf="loginForm.submitted && !captchaInput" class="error-message">
          Please Enter Captcha
        </div>
        <div *ngIf="loginForm.submitted && captcha !== captchaInput" class="error-message">
          Incorrect Captcha. Please try again.
        </div>
      </div>
  
      <button [disabled]="!loginForm.valid || captcha !== captchaInput" class="btn btn-primary btn-block">Login</button>
    </form>
  
    <div>
      <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </div>
  </div>
  
