/* Custom styles for the login form */
.container {
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .btn-block {
    width: 100%;
  }
  
  /* Error message style */
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  /* Additional styles for better visual clarity */
  body {
    background-color: #f4f4f4;
  }
  
  .row {
    justify-content: center;
  }