.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #ffffff;
  }
  
  h4 {
    color: #446069;
    font-weight: bold;
    
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 20px; 
    font-weight: 350; 
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px; 
    font-weight: 350; 
  }
  
  li {
    margin-bottom: 10px;
    
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  h1 {
    color:rgb(31, 31, 36);
    font-size: 2em;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold; 
    text-align: center;
  }